@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap");

:root {
  --icon-base: "\f2ed";
  --background: aqua;
  --borderColor: #ffdbdb;
  --font-family: "Mukta", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  // text-align: center;
}

input {
  display: inline-block;
  width: 180px;
  padding: 2px 0px 2px 5px;
}

input::placeholder {
  font-size: 1.1em;
}

.main-container {
  text-align: center;

  & > h1 {
  }
}

.inputTask {
  display: block;
  font-size: 1.2em;
}

#todoList {
  list-style: none;
  max-width: 200px;
  margin: 40px auto;

  & h2 {
    margin-bottom: 20px;
  }
}

#todoList > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--borderColor);
  padding: 0 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px 0.2px #f73b3b;

  & span {
    display: inline-block;
    padding: 10px 0;
  }

  & span br {
    display: none;
  }

  & i {
    font-family: "Font Awesome 5 Free";
    font-size: 1em;
    display: inline-block;
    margin-left: 40px;
  }

  & input {
    display: none;
  }
}

.hl {
  background: var(--background);
}

.fa-trash-alt {
  color: rgb(204, 23, 53);
}
